 <div id="hobby">
 <div class="title"> <h1 class="hobby" >What I am passionate about</h1>
 {{#if isAdmin}}
    <div>
      <a href="/hobbies/new" class="new-button"> New hobby</a>
    </div>
    </div>
  <div class="hobby-container"> 

    {{/if}}

    {{#if hasDatabaseError}}
      <div>Sorry there was a problem with the database.
        <br />
        {{theError}}
      </div>
    {{else}}
      {{#each hobbies}}
        <div >
          <div class="drawings-container">
            <div><a href="/hobbies/{{hid}}"><img
                  src="{{himgURL}}"
                  alt="{{himgURL}}"
                /></a></div>
            <h2><a href="/hobbies/{{hid}}">{{hname}} - {{htype}}</a></h2>
          </div>
          <div class="modify-delete">
            {{#if ../isAdmin}}
            <div>
              <a href="/hobbies/update/{{hid}}">Modify</a> - <a href="/hobbies/delete/{{hid}}">Delete</a>
            </div>
            {{/if}}
          </div>
        </div>
      {{/each}}
    {{/if}}
    
  </div>
</div>